
body {
	padding: 0;
	margin: 0;
}

header {
	background-color: #CCC;
	height: 3em;
}

header .title {
	float: left;
}

header .option {
	float: right;
	padding-left: 1em;
}

header .option, header .title {
	padding: 1em;
	height: 1em;
	color: #222;
}

header .option:hover, header .title:hover {
	background-color: rgba(255, 255, 255, 0.25);
}

#content {
	margin: 2em;
}

body > .notification {
	width: 100%;
	height: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	margin-top: 0.25em;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-left: none;
	border-right: none;
	font-weight: bold;
}

body > .notification.alert {
	background-color: #FF0000;
}
body > .notification.notice {
	background-color: #EEEE22;
}
