<h1>Add Container for <%= @project.name %></h1>

<% if @container.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@container.errors.count, "error") %> prohibited
      this container from being saved:
    </h2>
    <ul>
      <% @container.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :container, url: project_containers_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', project_path(@project) %>
