<p>
  <strong>Name:</strong>
  <%= @container.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @container.description %>
</p>

<p>
  <strong>Docker ID:</strong>
  <%= @container.docker_id %>
</p>

<% if @running %>
Container is running. <%= link_to 'Open Container', container_path + '/view/', :target => :_blank
%> | <%= link_to 'Stop', stop_container_path(@container), method: :delete, data: {
	confirm: 'Are you sure you want to stop the container?' } %><br/>
<% else %>
Container is stopped. <%= link_to 'Start', start_container_path(@container), method: :put %>
<% end %>

<br/>
<br/>
<%= link_to 'Edit', edit_container_path %>
| <%= link_to 'Destroy', container_path,
				method: :delete,
				data: { confirm: 'Are you sure?' } %>
| <%= link_to 'Back', project_path(@project) %>
