<p>
	Projects for <%= @user.name %>
</p>

<table>
<% @projects.each do |project| %>
	<tr>
		<td><%= project.name %></td>
		<td><%= project.description %></td>
		<td><%= link_to 'Show', project_path(project) %></td>
		<td><%= link_to 'Edit', edit_project_path(project) %></td>
		<td><%= link_to 'Destroy', project_path(project),
						method: :delete,
						data: { confirm: 'Are you sure?' } %></td>
	</tr>
<% end %>
</table>

<br/>
<%= link_to 'Add Project', new_project_path %>
