<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Codebox Docker ID:</strong>
  <%= @project.docker_id %>
</p>

<% if @running %>
Codebox editor is running. <%= link_to 'Open Codebox', @codebox_base + @project.id.to_s + '/', :target => :_blank
%> | <%= link_to 'Stop', stop_codebox_project_path(@project), method: :delete,
 	data: { confirm: 'Are you sure? Any active users will be kicked.' } %><br/>

<% else %>
Codebox editor is stopped. <%= link_to 'Start', start_codebox_project_path(@project), method: :put %>
<% end %>

<p><b>Containers:</b></p>

<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Status</th>
		<th>Toggle</th>
		<th>View</th>
		<th>Open</th>
	</tr>

	<% @containers.each do |container| %>
		<tr>
			<td><%= container.name %></td>
			<td><%= container.description %></td>
			<% if container.running %>
				<td>Container is running.</td>
				<td><%= link_to 'Stop', stop_container_path(container), method: :delete, data: {
					confirm: 'Are you sure? Any active users will be kicked.' } %> </td>
				<td><%= link_to 'Show', container_path(container) %></td>
				<td><%= link_to 'Open Container', container_path(container) + '/view/', :target => :_blank %></td>
			<% else %>
				<td>Container is stopped.</td>
				<td><%= link_to 'Start', start_container_path(container), method: :put %></td>
				<td><%= link_to 'Show', container_path(container) %></td>
				<td></td>
			<% end %>
		</tr>
	<% end %>
</table>
<%= link_to 'Add Container', new_project_container_path(@project) %>

<br/>
<br/>
<%= link_to 'Edit', edit_project_path(@project) %>
| <%= link_to 'Back', projects_path %>
