<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'app.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<header>
			<span class="title">CodeFreely</span>
			<% if user_signed_in? %>
				<%= link_to '<span class="option">Log out</span>'.html_safe, destroy_user_session_path, method: :delete %>
				<%= link_to '<span class="option">Profile</span>'.html_safe, edit_user_registration_path, method: :get %>
			<% else %>
				<%= link_to '<span class="option">Log in</span>'.html_safe, new_user_session_path, method: :get %>
			<% end %>
		</header>
		<% if alert %>
		<div class="notification alert"><%= alert %></div>
		<% end %>
		<% if notice %>
		<div class="notification notice"><%= notice %></div>
		<% end %>
		<div id="content">
	    <%= yield %>
		</div>
  </body>
</html>
